# Capstone Project

### Definition:
A Capstone Project â€‹is a multifaceted body of work that serves as a culminating academic and intellectual experience for students.

[The Best Capstone Project Topic Ideas](https://blog.tesu.edu/whats-a-capstone-project-and-why-do-i-have-to-take-it)

In [1]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("C:\\Users\wajee\Downloads\loan_train.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,male
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,female
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,male

In [4]:
X = np.asarray(df)
X[0:5]

array([[0, 0, 'PAIDOFF', 1000, 30, '9/8/2016', '10/7/2016', 45,
        'High School or Below', 'male'],
       [2, 2, 'PAIDOFF', 1000, 30, '9/8/2016', '10/7/2016', 33,
        'Bechalor', 'female'],
       [3, 3, 'PAIDOFF', 1000, 15, '9/8/2016', '9/22/2016', 27,
        'college', 'male'],
       [4, 4, 'PAIDOFF', 1000, 30, '9/9/2016', '10/8/2016', 28,
        'college', 'female'],
       [6, 6, 'PAIDOFF', 1000, 30, '9/9/2016', '10/8/2016', 29,
        'college', 'male']], dtype=object)

In [5]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!